{{>layouts/header}}
    <!-- content -->
    <div class="bg-dark text-white p-5"> <!-- 배경 색상은 어둡게(bg-dark), 텍스트 색상은 하얗게(text-white), 상하좌우 여백은 5배 만큼(p-5) -->
        <h1>{{username}}님, 반갑습니다!</h1>
    </div>

{{>layouts/footer}}